<!doctype html>
<html>
<head>
  <title>Recipe Search!</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/style.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">

            {% if 'user_id' in session %}
                <a class="btn py-2 d-none d-md-inline-block" href="/users/{{session['user_id']}}">Go to user page</a>
                <a class="btn py-2 d-none d-md-inline-block" href="/">Recipe Search Home</a>
                <a href="/logout" class="btn" role="button" aria-pressed="true">Log Out</a>

            {% else %}
                <button type="button" class="btn" data-toggle="modal" data-target="#login-modal">Login</button>
                <a class="btn py-2 d-md-inline-block" href="/">Recipe Search Home</a>
                <button type="button" class="btn" data-toggle="modal" data-target="#register-modal">Register Here!</button>

            {% endif %}

            

        </div>
    </nav>


    {% for message in get_flashed_messages() %}
  
        <div class="alert alert-success" role="alert">
        {{ message }}
        </div>

    {% endfor %}
    {% block content %} put your content here {% endblock %}
    <!-- Login Modal -->
    <div id="login-modal" class="modal fade" role="dialog">

        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Please Sign In</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form class="form-signin" action="/check_login" method="POST">

                        <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="pw" id="inputPassword" class="form-control" placeholder="Password" required="">

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-block" type="submit">Sign in</button>

                    </form>
                </div>

                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Registration Modal -->
    <div id="register-modal" class="modal fade" role="dialog">

        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Please Register Here</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form action="/confirm_registration" method="POST">
                        <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="pw" id="inputPassword" class="form-control" placeholder="Password" required="">

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        
                        <button class="btn btn-lg btn-block" type="submit">Register</button>
                    </form>
                </div>

                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>