{% extends 'base.html' %}
{% block content %}
<div class="with-background">
    <div class="text-center">
        <div class="row homepage-spacer"></div>
        <h1>Waste Not, Want Noms!</h1>
        <div class="text-center">
            
            <h3> How would you like to search for recipes? </h3>
            
        </div>
        <div class="text-center">
            
            <a href="/recipe_search">General Recipe Search</a>
            
        </div>
        <div class="text-center">
            
            <a href="/ingredient_search">Ingredient Specific Recipe Search</a>
           
        </div>
    </div>
</div>
{% endblock %}