{% extends 'base.html' %}
{% block content %}

<h1>Let's use those ingredients!</h1>

<form action='/ingredient_results' method='GET'>
    Please input limits and ingredient
    <br>
    Min: <input type="text" name="min_qty">
    Max: <input type="text" name="max_qty">
    <select name="unit">
        <option value='cup'> Cups </option>
        <option value='fluid_ounce'> Ounces (fluid) </option>
        <option value='tablespoon'> Tablespoons </option>
        <option value='teaspoon'> Teaspoons </option>
        <option value='pound'> Pounds </option>
        <option value='ounce'> Ounces (weight) </option>
    </select>
    of <input type="text" name="search_field">
    

    <input type="submit" value="Search!">
</form>

{% endblock %}