{% extends 'base.html' %}
{% block content %}
<div class="with-background">
        <div class="text-center">
        <h1>Welcome to your user page!!</h1>
        <div class="row normal-text">
            <div class="col">
                Your saved diet preferences:
                {% for preference in user.diet_prefs %}  
                
                    <li>{{preference.diet_type.diet_name}}</li>
                
                {% endfor %}
            </div>
            <div class="col">
                Your excluded ingredients:
                {% for ingredient in user.excluded_ingreds %}  
                
                    <li>{{ingredient.ingred_name}}</li>
                
                {% endfor %}
            </div>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col">
                <!-- <button type="button" class="btn" data-toggle="modal" data-target="#diet-modal">Update Diet Preferences</button> -->
                <a href="/select_diets">Update Diet Preferences</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}